# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Wrangler/Cloudflare
.wrangler/
.worker/

# Builds/Dist
.dist/
dist/
.build/
build/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db
